.home{
	position: relative;
	height: 100vh;
	background: #09003F;
	color: #FFC700;
	.container{
		height: 75vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.main{
			text-align: center;
			h2{
				margin-bottom: -1rem;
				margin-top: 4rem;
				font-size: 2rem;
			}
			h1{
				font-size: 16rem;
				margin: 0;
				color: white;
			}
			p{
				opacity: 100%;
				margin-top: -1rem;
				margin-bottom: 3rem;
				font-size: 1.2rem;
			}
			.btn-gerar{
				cursor: pointer;
				color: #09003F;
				background: #FFC700;
				width: fit-content;
				border-radius: 2.1875rem;
				padding: .3rem 1.5rem;
				margin: 0 auto;
				text-transform: uppercase;
				font-weight: bolder;

				font-size: 1.3rem;
			}
			.btn-reset{
				position: absolute;
				bottom: 0;
				right: 0;
				margin-bottom: 2rem;
				margin-right: 2rem;
				cursor: pointer;
				color: #FFC700;
				background: #FF0000;
				width: fit-content;
				border-radius: 2.1875rem;
				padding: .3rem 1.5rem;
				text-transform: uppercase;
				font-weight: bolder;

				font-size: 1.2rem;
			}
		}
	}
	.credits{
		opacity: 25%;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 2rem;
		margin-left: 2rem;
		a{
			color: #FFC700;
		}
	}
}

@media screen and (max-width: 600px){
	.home{
		.container{
			margin: 0 2rem;
			.main{
				.btn-reset{
					position: relative;
					margin: 0 auto;
					margin-top: 1rem;
				}
			}
		}
		.credits{
			font-size: .8rem;
			bottom: 5%;
		}
	}
}

@media screen and (max-width: 999px) and (orientation: landscape) {
	.home{
		.container{
			margin: 0 2rem;
			.main{
				h2{
					margin-top: 2rem;
					font-size: 1.5rem;
				}
				h1{
					font-size: 10rem;
				}
				p{
					margin-bottom: 1rem;
					font-size: 1rem;
				}
				.btn-reset{
					font-size: 1rem;
				}
				.btn-gerar{
					font-size: 1rem
				}
			}
		}
		.credits{
			font-size: .8rem;
		}
	}
}